Checks: 'clang-diagnostic-*,clang-analyzer-*,bugprone-*,modernize-*,-modernize-use-trailing-return-type'
HeaderFilterRegex: "^(src|test)/.*\\.(cpp|hpp)$"
AnalyzeTemporaryDtors: false
InheritParentConfig: false
FormatStyle: file
