/ {
  aliases {
    sensor-th = &sht30;
    sensor-thp = &bme680;
    sensor-tvoc = &ens160;
  };
};

&i2c0 {
  clock-frequency = < 400000 >;

  sht30: sht30@45 {
    compatible = "sensirion,sht3xd";
    status = "okay";
    reg = < 0x45 >;
  };

	bme680: bme680@77 {
		compatible = "bosch,bme680";
    status = "okay";
		reg = <0x77>;
	};

	ens160: ens160@53 {
    compatible = "sciosense,ens160";
    status = "okay";
		reg = <0x53>;
	};
};
